.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  width: 1200px;
  margin-bottom: 80px;
}

.item {
  box-sizing: border-box;
  display: flex;
  width: calc((100% - 96px) / 4);
  align-items: stretch;
}
