.card {
}

.imgWrapp {
  position: relative;
  margin-bottom: 16px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 160px;
}

.header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model {
  color: #3470ff;
}

.details {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
  margin-bottom: 28px;
}

.readMore {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;

  border-radius: 12px;
  width: 276px;
  height: 44px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;

  background: #3470ff;
  transition: background-color 0.8s ease;
}

.readMore:hover,
.readMore:focus {
  background: #0b44cd;
}
