.container {
  width: 100%;
  min-height: calc(100vh - 68px);
  padding: 436px 328px 60px;
  background-image: url('/images/Picturehero@1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.descr {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;

  border-radius: 12px;
  border: none;
  width: 276px;
  height: 44px;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;

  background: #3470ff;
  transition: background-color 0.8s ease;
}

.btn:hover,
.btn:focus {
  background: #0b44cd;
}
